/* navbar styles */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f73c3c;
  color: white;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  display: flex;
}

.navbar h1 {
  font-size: 20px;
  margin: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar a.active {
  font-weight: bold;
}

nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.background-image {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
}
nav ul li {
  flex: 1;
  text-align: center;
  min-width: 0;
}
nav ul li a {
  display: block;
  width: 100%;
  padding: 14px 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-x: visible;
}
.page-wrapper {
  overflow-x: hidden;
}
header {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: auto;
  bottom: 0;
}
header img {
  width: auto;
  height: 200px;
  object-fit: contain;
  margin-left: 50px;
}
img {
  width: 50%;
  height: auto;
  max-width: 100%;
  position: relative;
  margin-left: 100px;
}
main {
  position: relative;
  z-index: 1;
  padding: 5px;
  max-width: 100%;
  margin: 0px;
  text-align: left;
  width: auto;
  padding: 0%;
  font-size: larger;
}
article {
  margin-bottom: 20px;
  text-align: left;
}
p {
  line-height: 1.6;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 10px;
}

img.characters {
  width: auto;
  height: 550px;
  max-width: 100%;
  position: relative;
  margin-left: 50px;
  padding: 50px;
}
h2.khgames {
  text-align: center;
  font-size: 30px;
  color: #45beff;
  background-color: lightgray;
  margin: 0px;
}
img.logos {
  /* center image */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 50%;
  display: block;
}
main h1 {
  text-align: center;
}
p.spoiler-warning{
  font-size: 36px;
  text-align: center;
  font-style: bold;
}

@media (min-width: 370px) and (max-width: 767px) {
  header img {
    height: 150px;
    margin-left: 0px;
  }
  img {
    width: 70%;
    margin-left: 0px;
  }
  .navbar a {
    margin: 0px;
    font-size: 14px;
  }
  main {
    padding: 10px;
    margin: 10px auto;
    font-size: medium;
  }
  body {
    font-size: 16px;
    max-width: 100%;
  }
  header img {
    height: 120px;
  }
  nav ul {
    font-size: 14px;
  }
  main {
    max-width: 90%;
  }
  header {
    margin: auto;
  }
  img {
    width: 100%;
  }
  header img {
    margin-left: 25px;
  }
  .navbar {
    padding: 0px;
    font-size: 10px;
    width: 100%;
    max-width: 100%;
  }
  .navbar a {
    margin: 0;
  }
  nav ul li {
    margin: 0;
    padding: 0;
    font-size: 10px;
    white-space: wrap;
  }
  img.characters {
    width: auto;
    height: 150px;
    margin-left: 0px;
    padding: 0px;
  }
  h2.khgames {
    width: 100%;
  }
  
}
